[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=File Manager
Name[ast]=Xestor de ficheros
Name[be]=Кіраўнік файлаў
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[eo]=Dosier-administrilo
Name[es]=Gestor de archivos
Name[et]=Failihaldur
Name[eu]=fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[is]=Skráastjóri
Name[it]=Il gestore dei file
Name[ja]=ファイルマネージャー
Name[kk]=файлдар басқарушысы
Name[lt]=Failų tvarkytuvė
Name[lv]=Failu pārvaldnieks
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsaming
Name[oc]=Gestionari de Fichièrs
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[ro]=Managerul de fișiere
Name[ru]=Файловый менеджер
Name[si]=ගොනු කළමණාකරු
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sq]=Përgjegjësi i Kartelave
Name[sr]=Тунар управник датотека
Name[sv]=Filhanteraren
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[uk]=Файловий менеджер
Name[vi]=Trình quản lý tập tin
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理員
Name[zh_TW]=檔案管理員
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات النظام بمدير الملفات
Comment[ast]=Restolar el sistema de ficheros col xestor de ficheros
Comment[be]=Агляд файлавай сістэмы кіраўніком файлаў
Comment[bg]=Преглед на файловата система с файловият мениджър
Comment[bn]=ফাইল ম্যানেজার দিয়ে ফাইলসিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[da]=Gennemsøg filsystem med filhåndteringen
Comment[de]=Das Dateisystem in der Dateiverwaltung anzeigen
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_AU]=Browse the filesystem with the file manager
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Explore el sistema de archivos con el gestor de archivos
Comment[et]=Failisüsteemi lehitsemine kasutades failihaldurit
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fa_IR]=مرور سیستم پرونده با مدیر پرونده
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explorar o sistema de ficheiros co xestor de ficheiros
Comment[he]=סייר במערכת הקבצים בעזרת מנהל הקבצים
Comment[hr]=Pregledaj datotečni sustav sa upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[id]=Ramban sistem berkas dengan manajer berkas
Comment[is]=Vafra um skráarkerfið með skráarstjóranum
Comment[it]=Esplora il file system con il gestore dei file
Comment[ja]=ファイルマネージャーでファイルシステムを参照します
Comment[kk]=Файлдық жүйені файлдар басқарушысымен шолу
Comment[ko]=파일 관리자로 파일 시스템을 탐색합니다
Comment[lt]=Naršyti failų sistemą naudojant failų tvarkytuvę
Comment[lv]=Pārlūko failu sistēmu ar failu pārvaldnieku
Comment[ms]=Layar sistem fail dengan pengurus fail
Comment[nb]=Utforsk filsystemet med filbehandleren
Comment[nl]=Blader met de bestandbeheerder door het bestandssysteem
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[oc]=Percórrer lo sistèma de fichièrs amb lo gestionari de fichièrs
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Explorar sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Gestionați fișierele cu un manager dedicat
Comment[ru]=Просмотр файловой системы с помощью файлового менеджера
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sl]=Brskajte po datotečnem sistemu z upravljalnikom datotek
Comment[sq]=Shfletoni sistemin e kartelave me përgjegjësin e kartelave
Comment[sr]=Прегледај систем датотека управником датотека 
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[te]=దస్త్ర వ్యవస్థని దస్త్ర నిర్వాహకముతో విహరించు
Comment[th]=ท่องดูระบบแฟ้มด้วยโปรแกรมจัดการแฟ้ม
Comment[tr]=Dosya yöneticisi ile gezin
Comment[ug]=ھۆججەت باشقۇرغۇدا ھۆججەت سىستېمىسىنى كۆر
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[ur]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[ur_PK]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[vi]=Duyệt hê thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_HK]=以檔案管理員瀏覽檔案系統
Comment[zh_TW]=使用檔案管理員瀏覽檔案系統
Exec=/usr/bin/sparky-fileopen
Icon=system-file-manager
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility;
NoDisplay=true
